out/logs/*
*/__pycache__/*
MoMask
data
digitalHumans
venv

external_repos/momask-codes/*
data/*
.DS_Store
.git
.idea
prompt_enhancement/altered_texts/*

# Playground files
playground.*

Anaconda3-2024.02-1-Linux-x86.64.sh
Miniconda3-latest-Linux-x86_64

prompt_enhancement/test1_cross_sample_info/*
prompt_enhancement/test1_cross_sample_info

logs